<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Jar</title>
    <meta name="description" content="Pick a movie to watch tonight.">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</head>

<body class="leading-normal tracking-normal text-gray-900" style="font-family: 'Source Sans Pro', sans-serif;">

    <section class="bg-gray-100 border-b py-8">
        <div class="container max-w-5xl mx-auto m-8">
            <h1 class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-800">
                🍶 Movie Jar
            </h1>
            <div class="w-full mb-4">
                <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
            </div>

            <div class="flex flex-wrap">
                <div class="w-5/6 sm:w-1/2 p-6">
                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
                        Drawing a movie from the Cat Party Brewing movie jar...
                    </h3>
                    <p class="text-gray-600 text-2xl mb-8">
                        🎉 <%= movie %>
                    </p>
                </div>
                <div class="w-full sm:w-1/2 p-6">
                    <img src="images/undraw_chilling_8tii.svg" />
                </div>
            </div>

</body>

</html>